<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body>
<!-- HEADER INICIO-->
<header>
    <h1>PAGINA DETALLE DE PELICULAS</h1>
</header>
<section>
    <ul>
        <li><a href="/users/listUsers">Lista de usuarios</a></li>
        <li><a href="/users/crearusuario">Crear un usuario nuevo</a></li>
        <li><a href="/movies/create">Crear una pelicula nueva</a></li>
        <li><a href="/">home</a></li>
    </ul>
</section>
<!-- HEADER FIN-->
<!--------------------------------------->
<!-- CONTENIDO PRINCIPAL INICIO-->
<section>
    <br>
    <ul>
    <% if(detailMovie){ %>
            <li><h3> <%=detailMovie.title%> </h3></li>
            <li> Genero= <%=detailMovie.genres.name%></li>
            <li> Duracion= <%=detailMovie.length%></li>
            <li> Rating= <%=detailMovie.rating%></li>
            <li> Premios= <%=detailMovie.awards%></li>
            <li> <p>Actores</p> </li>
            <ul>
                <% for (let x = 0; x < detailMovie.actors.length; x++) { %>
                    <li>
                        <%= detailMovie.actors[x].first_name%> <%= detailMovie.actors[x].last_name%>
                    </li>
                <% } %>
            </ul>
    <% }else{ %>
        <h2>NO HAY NADA PARA MOSTRAR</h2>
    <% } %>
    </ul>
</section>
<!-- CONTENIDO PRINCIPAL FIN-->
<!--------------------------------------->
<!-- FOOTER INICIO-->
<footer>
    <h3>FOOTER</h3>
</footer>
<!-- FOOTER FIN-->
</body>
</html>

