<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body>
<!-- HEADER INICIO-->
<header>
    <h1>PAGINA DETALLE DE PELICULAS</h1>
</header>
<section>
    <ul>    
        <% if (locals.user) { %>
            <% if (locals._locals.session.auth) { %>               
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/listUsers">Lista de usuarios</a></li>
                <li><a href="/users/register">Crear un usuario nuevo</a></li>
                <li><a href="/movies/create">Crear una pelicula nueva</a></li>
                <li><a href="/home">home</a></li>
                <li><a href="/404">Error 404</a></li>
                <li><a href="/users/logout">LOGOUT</a></li>
            <% } else  { %>
                <li><a href="/home">home</a></li>
                <li>Hola <%= locals.user %></li>
                <li><a href="/users/logout">LOGOUT</a></li>
            <% } %>
        <% } else  { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/home">home</a></li>
        <% } %>
    </ul>
</section>
<!-- HEADER FIN-->
<!--------------------------------------->
<!-- CONTENIDO PRINCIPAL INICIO-->
<section>
    <br>
    <ul>
    <% if(detailMovie){ %>
            <li><h3> <%=detailMovie.title%> </h3></li>
            <li> Genero= <% if(detailMovie.genres) { %><%= detailMovie.genres.name %> <% } else { %> Sin informacion <% } %></li>
            <li> Fecha= <% if(detailMovie.release_date) { %><%= detailMovie.release_date %> <% } else { %> Sin informacion <% } %></li>
            <li> Duracion= <% if(detailMovie.length) { %><%= detailMovie.length %> <% } else { %> Sin informacion <% } %></li>
            <li> Rating= <% if(detailMovie.rating) { %><%= detailMovie.rating %> <% } else { %> Sin informacion <% } %></li>
            <li> Premios= <% if(detailMovie.awards) { %><%= detailMovie.awards %> <% } else { %> Sin informacion <% } %></li>
            <li> <p>Actores</p> </li>
            <ul>
                <% if (detailMovie.actors.length>0) { %>
                    <% for (let x = 0; x < detailMovie.actors.length; x++) { %>
                        <li>
                            <%= detailMovie.actors[x].first_name%> <%= detailMovie.actors[x].last_name%>
                        </li>
                    <% } %> 
                <% } else {%>
                    <li> <p>Sin informacion registrada</p> </li>
                <% } %>
            </ul>
            <!--Despues armar if para preguntar si es administrador para saber si se muestra o no estas opciones de editar o borrar pelicula-->
            <% if (locals.user) { %>
                <% if (locals._locals.session.auth) { %> 
            <button><a href="/movies/movieEdit/<%=detailMovie.id%>">Editar Pelicula </a></button>
            <form action="/movies/delete/<%=detailMovie.id%>?_method=DELETE" method="POST">
                <button type="submit">Borrar Pelicula</button>
            </form>
                <% } %>
            <% } %>
    <% }else{ %>
        <h2>NO HAY NADA PARA MOSTRAR</h2>
    <% } %>
    </ul>  
</section>
<!-- CONTENIDO PRINCIPAL FIN-->
<!--------------------------------------->
<!-- FOOTER INICIO-->
<footer>
    <h3>FOOTER</h3>
</footer>
<!-- FOOTER FIN-->
</body>
</html>
