<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body>
<!-- HEADER INICIO-->
<header>
    <h1>PAGINA EDITAR PELICULA</h1>
</header>
<section>
    <ul>    
        <% if (locals.user) { %>
            <% if (locals._locals.session.auth) { %>               
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/listUsers">Lista de usuarios</a></li>
                <li><a href="/users/register">Crear un usuario nuevo</a></li>
                <li><a href="/movies/create">Crear una pelicula nueva</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/404">Error 404</a></li>
            <% } else  { %>
                <li><a href="/">home</a></li>
                <li>Hola <%= locals.user %></li>
                <li><a href="/users/logout">LOGOUT</a></li>
            <% } %>
        <% } else  { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/">home</a></li>
        <% } %>
    </ul>
</section>
<!-- HEADER FIN-->
            
<!--CONTENIDO PRINCIPAL INICIO-->
<form  action="/movies/movieEdit/<%=detailMovie.id%>?_method=PUT" method="POST" id="form">

    <input type="text" name="title" placeholder="Titulo" value='<% if(detailMovie.title) { %><%= detailMovie.title %> <% } else { %> Titulo <% } %>' id="title">

    <input type="text" name="awards"  placeholder="Premios" value='<% if(detailMovie.awards) { %><%= detailMovie.awards %> <% } else { %> Premios <% } %>' id="awards">

    <input type="text" name="length"  placeholder="Duración" value='<% if(detailMovie.length) { %><%= detailMovie.length %> <% } else { %> Duracion <% } %>' id="length">

    <input type="text" name="rating"  placeholder="Rating" value='<% if(detailMovie.rating) { %><%= detailMovie.rating %> <% } else { %> Rating <% } %>' id="rating">

    <span><% if(detailMovie.release_date) { %> <%= detailMovie.release_date %> <% } else { %> Sin fecha <% } %> </span>
    <input type="date" name="release_date"  placeholder="Fecha de Estreno" id="release_date">

    <select type="text" name="genre_id" placeholder="Generos" id="genre_id">
        <% if (genres) { %>
            <% for (let i = 0; i <genres.length; i++) { %>
            <option value="<%=genres[i].id%>" selected='<%=genres[i].id%>'> 
                <%=genres[i].name%>
            </option>
            <% } %>
        <% } %>
    </select>

    <button type="submit"> Editar </button>

</form>

</body>
</html>